[2022-07-19 18:19] eheimburg opened #62 "EthersEvent not defined (typescript)"
I'm trying to convert some javascript that uses the Alchemy SDK into TypeScript. It seems the typescript files in the project are malformed, making the library unusable with TypeScript. When I try to import the module, it fails. (This is 1.0.8)

This is my entire test script, it's one line:

`import { initializeAlchemy } from "@alch/alchemy-sdk";`

This results in
[code]

If I look at the code, it

[2022-07-19 19:01] thebrianchen commented on #62
@eheimburg Thanks for flagging this and filing an issue. I wasn't able to reproduce the issue in my dummy`ts-node` project, but I can see that the type is not exported. Do you mind uploading your setup to get this error?

It's definitely a bug that we're not exporting `EthersEvent`, but I also want to catch any other types we're not currently exporting. Thanks!

[2022-07-19 19:25] thebrianchen commented on #62
@eheimburg Thanks! I'm able to repro it. Turns out it's `tsc` that triggers the error, whereas `ts-node` is ok. Will investigate

[2022-07-19 20:07] #62 closed

[2022-07-19 20:07] thebrianchen commented on #62
[Test.zip](https://github.com/alchemyplatform/alchemy-sdk-js/files/9144240/Test.zip)

@eheimburg Thanks for your repro! I created a new dist that I'll publish in a subsequent version that fixes the `EthersEvent` issue. The missing `node` and `AsyncIterable` imports can be fixed by running `npm install --D @types/node` in your root directory, which I've done. The zip file I've opened contains the m

[2022-07-19 20:16] eheimburg commented on #62
Excellent, thanks! I can confirm the updated-zip version works for me also.

[2022-07-19 20:30] thebrianchen commented on #62
Awesome, will have the fix out with the next release.

[2022-07-19 21:29] thugzook opened #64 "`Error: read ECONNRESET` and `504: Gateway Timeout`"
Hey, testing out alchemy on an AWS EC2 instance. Running into a few errors with connecting to the Alchemy SDK.

9/10 times Alchemy and our app works fine, but these connection bugs have been happening sporadically. As soon as the ECONNRESET throws, 504 Gateway Timeout throws exactly 9 times.

Here's my alchemy setup v1.0.8
[code]

Error: read ECONNRESET
[code]

Error: 504 Gateway Timeout (as html

[2022-07-22 19:01] deric-alchemy commented on #64
Thanks for surfacing - forwarding to the NFT API eng team right now!

[2022-07-25 22:03] thebrianchen commented on #64
@thugzook thanks for sharing the details. Some clarifying questions:
- How often does this occur? Do the 504s continue to be thrown?
- Do you have timestamps of the retries? 504s are usually thrown by Alchemy backends after 1 minute. Are these errors happening over the span of 10 minutes?

[2022-07-26 02:20] thugzook commented on #64
I've since migrated away from the SDK to just using plain REST (axios) so my data is only based on my one batch of testing.

* Not enough data to verify how often 504s get thrown, but from the dataset I have, I had 2 "bursts" of 504s. The first "burst" ended at 2022-07-19 07:41:29 UTC. The second started at 2022-07-19 19:18:20 UTC.

* For the second "burst" of 504s here are the timestamps:

1. 202

[2022-07-26 16:49] stevenzyang commented on #64
Thanks for the info @thugzook! Were these the result of retries from a single request, or multiple concurrent requests?

[2022-07-26 17:16] thebrianchen commented on #64
@thugzook also, are these requests still happening? The timestamps you provided coincided with our own internal spikes, and I'm hoping to validate my hypothesis that this was a transient issue. Thanks!

[2022-07-27 05:58] jasan-s opened #80 "any updated docs(tutorials) using v2.x of sdk (question, Documentation)"
there seems to mention breaking changes. but unclear as to what exactly the are. hoping there are updated set of tutorials simialr to https://docs.alchemy.com/alchemy/tutorials (website has older using sdk 1.x)

[2022-07-27 17:51] deric-alchemy commented on #80
We're working on this at the moment! We'll be launching a new set of docs with the SDK v2 in the next week and steadily updating all tutorials / references over the next month.

[2022-07-29 15:50] whhsw opened #82 "websocket filtering not working"
alchemy.ws.on(
    {
      method: 'logs',
      address: "xxxxxx",
    },
    res => console.log(res)
  );

the filtering is not functioning, all kinds of tx coming out

[2022-07-29 16:18] thebrianchen commented on #82
@whhsw The `method` function currently only supports alchemy's `alchemy_pendingTransactions` filter (https://github.com/alchemyplatform/alchemy-sdk-js/blob/main/docs-md/modules.md#alchemypendingtransactionseventfilter). To get the logs, please use the `alchemy.ws.on({filter})` [syntax](https://docs.ethers.io/v5/concepts/events/#events) that matches ethers.

So in your case:
[code]

Thanks for lett

[2022-07-30 17:36] thatguyintech opened #84 "How do I instantiate a Contract object using alchemy-sdk just like with ethers.js?"
None of these seem to work:

* `const baycContract = new alchemy.Contract(baycAddress, baycABI, provider);`
* `const baycContract = new alchemy.core.Contract(baycAddress, baycABI, provider);`
* `const baycContract = new alchemy.ethers.Contract(baycAddress, baycABI, provider);`

I get

[code]
or
[code]

I can’t find the `Contract` constructor in any of the namespaces 🤔

the documentation says:

[co

[2022-08-01 16:08] thebrianchen commented on #82
Marking the issue as closed since this is WAI, but feel free to ask any other questions you may have!

[2022-08-01 16:08] #82 closed

[2022-08-02 16:16] deric-alchemy commented on #84
Renamed the documentation to specify that you can simply replace the "Ethers.js Provider" object with Alchemy to have 1:1 functionality, not all of Ethers.js!

[2022-08-02 16:16] #84 closed

[2022-08-02 16:52] thugzook commented on #64
@stevenzyang @thebrianchen

Yes, these were concurrent requests. At like a request rate of 30x/sec.

I've since moved over to REST and I've kept the server running for about 36 hrs with no issues! May have been a transient issue.

[2022-08-02 17:15] stevenzyang commented on #64
Got it @thugzook. This was a transient issue with our server. We're still working on the root cause so you might still see these from time to time in the future, regardless of whether you use the sdk or REST.

[2022-08-10 07:59] thatguyintech commented on #84
for anyone who's curious about the workaround for the original problem, here's how I solved it with ethers.js and alchemy-sdk

https://github.com/alchemyplatform/Alchemy-Hacker-Handbook/blob/main/evm_snippets/LoadContract/load-contract.js

[2022-08-10 18:32] thebrianchen commented on #80
@jasan-s Just an update! We've updated the docs and tutorials, and you can also view a full list of the changes in the SDK's [Changelog](https://github.com/alchemyplatform/alchemy-sdk-js/releases/tag/v2.0.0).

I'm going to mark this issue as closed, but feel free to ask any other questions you may have!

[2022-08-10 18:32] #80 closed

[2022-08-10 18:34] thebrianchen commented on #64
Going to mark this issue as closed since it appears to be a transient issue. Feel free to ask any other questions you may have though!

[2022-08-10 18:34] #64 closed

[2022-08-14 23:59] lsbyerley opened #95 "getNftsForOwner media flag for image vs video"
Would it be possible to add a flag in the media array from the `getNftsForOwner` response to distinguish if the media is an image or video? The `gateway` variable could either be an image, which you would set the `src` of an image tag as this variable or a video. If it is a short mp4 instead of an image (so a video html tag), there is no way to tell.

[2022-08-17 02:03] thebrianchen commented on #95
@lsbyerley Thanks for filing an issue! This field is actually already present in the `media` field of the response as `format`. See the [documentation](https://github.com/alchemyplatform/alchemy-sdk-js/blob/main/docs-md/interfaces/Media.md#format). We will have our hosted documentation updated in a bit.

I'll mark this issue as closed, but feel free to ask any questions you may have!

[2022-08-17 02:03] #95 closed

[2022-08-18 03:49] lsbyerley commented on #95
@thebrianchen sure no problem! The main reason I posted this question/issue is because I do not see the format variable returned in the media object array. Am i missing something?

`"alchemy-sdk": "2.0.2",`

[code]
<img width="226" alt="Screen Shot 2022-08-17 at 11 49 04 PM" src="https://user-images.githubusercontent.com/3066258/185289225-fdc860d7-55be-4a42-b3d1-906079cc2f8c.png">

[2022-08-18 18:00] thebrianchen commented on #95
@lsbyerley yep, that's the field! Some NFTs should have the `format` field included in the payload, and we're currently working on a fix to increase the % coverage of that field, which should be reflected in the responses soon!

[2022-08-24 15:35] tansanDOTeth opened #104 "SDK not exposing the raw meta data properly from the response"
In the response when you query with `withMetadata: true`, it returns the contract symbol and the contract name.

For example,
[code]

In the data structure returned by the SDK, all the names or titles include the token ID. I only want the contract name and/or symbol.

For example,

[code]

I am looking for just the string `Genuine Undead`

[2022-08-24 16:40] thebrianchen commented on #104
@tansanDOTeth which SDK method are you using? If you only want the metadata for the contract, you can call `getContractMetadata()`, which only returns the name of the contract. You can see the docs for this method [here](https://github.com/alchemyplatform/alchemy-sdk-js/blob/main/docs-md/classes/NftNamespace.md#getcontractmetadata).

[2022-08-24 16:57] tansanDOTeth commented on #104
My apologies for leaving out the most important details. I was using `getNftsForOwner`.

[2022-08-24 17:19] thebrianchen commented on #104
@tansanDOTeth the backend just started including the contract metadata in the response not too long ago. We should have a PR out for this soon.

[2022-08-24 17:21] tansanDOTeth commented on #104
Ah I see! Looking forward to it!

[2022-08-29 06:48] gd-cho opened #106 "why can't use alchemy_filteredNewFullPendingTransactions?"
I need to monitor the transaction information of `to` and `from` field at the specified address.
but I use `alchemy.ws.on({method: "alchemy_filteredNewFullPendingTransactions", address: '0x...'})` is monitor full pending transaction.

And I use `alchemy.ws.on({method: "alchemy_pendingTransactions"})`, it just can monitor to or from field address....

[2022-09-04 17:22] cwalternicolas opened #108 "getNftsForOwner() pageSize not working for RINKEBY network."
Calling the method getNftsForOwner() with a pageSize different from "100" (default) is not working for RINKEBY but it works fine on MAINNET.

I cannot find any warning in the documentation about this limitation, it is a bug?

Steps to reproduce:

1. Instantiate the SDK with the RINKEBY network:

[code]

2. Call the getNftsForOwner method with pageSize different from 100. The "walletAddress" of the

[2022-09-07 13:43] sai1024 opened #109 "FR: Support Moonbase"
hi, the SDK currently supports the following chains
* Ethereum: Mainnet, Goerli
* Polygon: Mainnet, Mumbai
* Optimism: Mainnet, Goerli, Kovan
* Arbitrum: Mainnet, Goerli, Rinkeby
* Astar: Mainnet

I want to support moonbase chain as well😂

[2022-09-09 15:57] thebrianchen commented on #108
@cwalternicolas Thanks for flagging this! I was able to reproduce the issue, and this seems like an issue with our backends. I'll check with the team and keep this thread updated.

[2022-09-09 16:09] thebrianchen commented on #109
@sai1024 Thanks for filing an issue! Please also open a feature request in our [roadmap](https://roadmap.alchemy.com/b/feature-requests/) as well. The chains we prioritize are based on customer demand, so I'll leave this thread open for now.

[2022-09-09 16:13] ayang-rkjs commented on #108
@cwalternicolas Thanks for filing this issue! As you alluded to, we don't support this parameter on Rinkeby. I will update our docs to reflect this. We're not planning to add this functionality on Rinkeby, as the Rinkeby testnet is being deprecated after the Merge in favor of Goerli.

[2022-09-09 16:45] thebrianchen commented on #108
Marking the issue as closed since it's WAI.

[2022-09-09 16:45] #108 closed

[2022-09-09 17:09] thebrianchen commented on #106
@gd-cho

The only accepted `method` property in the SDK is `alchemy_pendingTransactions`. You can specify the same to and from address to get the same behavior as `alchemy_filteredNewFullPendingTransactions`. I'll have a PR out for the error checking shortly.

[2022-09-13 13:04] hiren-chestr opened #115 "getOwnersForContract Function doesn't support pagination"
As per docs This API supports pagination https://docs.alchemy.com/reference/getownersforcollection,
But SDK function getOwnersForContract doesn't support pagination.

[2022-09-13 16:53] thebrianchen commented on #115
@hiren-chestr Thanks for filing an issue! We're aware of this issue and will have the PR out to update this in the coming weeks

[2022-09-13 18:32] #106 closed

[2022-09-14 06:15] hiren-chestr commented on #115
Thank you good to know.

[2022-09-16 18:33] octavioamu opened #117 "Typescript error 'erc20' missed"
https://github.com/alchemyplatform/alchemy-sdk-js/blob/ac866cd070d3e6682a56d346a064a4e7d4c0ad59/src/api/core-namespace.ts#L398
Seems there is are missed parameters here as should be string[] | 'erc20' | 'DEFAULT_TOKENS'

[2022-09-19 22:08] #104 closed

[2022-09-20 05:32] alexvobo opened #118 "Throws when NFT description is an object"
https://github.com/alchemyplatform/alchemy-sdk-js/blob/519f0c2e9900a064f0cb23f70f75a1c07a6bdd0f/src/util/util.ts#L95

This throws a type error when the description is an object because `.join(' ')` can only be called on an array.

Specifically, when I'm trying to call `.getNftsForOwner(address)` and there's an NFT where `description`:`{...}`

One NFT will prevent the rest from fetching.

[2022-09-20 16:06] thebrianchen commented on #118
@alexvobo Thanks for flagging this. The description field should always be a string. Do you have the owner or contract address for me to repro? Thanks!

[2022-09-21 10:54] curtcurt871 opened #122 "Token balance"
https://github.com/alchemyplatform/alchemy-sdk-js/blob/145ea5037974f47ca1849c4da44a9bd04aeb6fcd/src/types/types.ts#L74

[2022-09-27 16:06] thebrianchen commented on #122
@curtcurt871 Can you clarify what the issue is here?

[2022-09-27 17:38] thebrianchen commented on #117
@octavioamu Thanks for pointing this out! This is covered in #124 and should be published in the next release

[2022-09-27 17:38] #117 closed

[2022-09-27 17:50] thebrianchen commented on #118
@alexvobo Thanks for the issue and PR! I made a quick PR in #126 since your PR will also incorrectly stringify the description if the field is `string[]` type. This should be fixed in the next release!

[2022-09-28 20:29] #118 closed

[2022-09-29 01:29] iboxgithub opened #130 "Contract object missing?"
Hi,

I am not able to instantiate a Contract object the same way I would do with ethers.js (with the contract ABI to then be able to call methods) and can't find a doc explaining how to do it.
If you could point me in the right direction that would be great.

I see it here: https://github.com/alchemyplatform/alchemy-sdk-js/blob/10e96ee8b01aff0058158abd580afb38efb151f7/test/unit/contract.test.ts
bu

[2022-09-29 15:38] #115 closed

[2022-09-29 15:39] thebrianchen commented on #130
@iboxgithub Thanks for writing in! We just added the Contract object in #98, and we're going to cut a new release containing this addition soon. Closing the issue for now, but feel free to ask any other questions you may have!

[2022-09-29 15:39] #130 closed

[2022-09-29 15:46] iboxgithub commented on #130
wait so how can I use Contracts with alchemy-sdk @thebrianchen ???

[2022-09-29 15:56] thebrianchen commented on #130
We just published `v2.1.0`. If you run `npm install alchemy-sdk@latest` it should work!

[2022-10-05 11:23] 5QgKxT2j opened #135 "Event callback doesn't happen when specifying Alchemy API key on setting"
Hello,
I wrote the code below to subscribe to the contract `PositionChanged` event on Arbitrum with Typechain Ethers-v5.
This code works as expected when no API key is given to setting, but when Alchemy API key is given, no callback happens.
I'd like to use an Alchemy private endpoint to avoid throttle by specifying API key.

[code]

[2022-10-05 13:52] 5QgKxT2j commented on #135
@thebrianchen
I found Wallet is exported by the ethers.js and fixed the issue.
Thank you very much!

[2022-10-05 13:52] #135 closed

[2022-10-05 14:16] thebrianchen commented on #135
@5QgKxT2j Are you using alchemy-sdk along with Typechain ethers-v5? How is the experience?

[2022-10-06 01:56] rbruels opened #136 "Support AIRDROPS in NftExcludeFilters"
There seems to be an implementation of an `AIRDROPS` filter according to the `getNfts` documentation:

https://docs.alchemy.com/reference/sdk-getnfts

But currently the SDK only supports `SPAM`. It'd be great to have an airdrop filter in the SDK, especially since some airdrops are not marked correctly as spam.

[2022-10-06 01:58] thebrianchen commented on #136
The PR for that has been merged and should be out in the next release!

[2022-10-06 01:59] rbruels commented on #136
👏 Awesome!

[2022-10-06 15:15] thebrianchen commented on #136
Marking this issue as closed, but feel free to ask any other questions here. Keep an eye out for `v2.1.1`!

[2022-10-06 15:15] #136 closed

[2022-10-06 17:42] Lord-Luvat opened #139 "summarizeNftAttributes endpoint not implemented"
The endpoint described at this link:
https://docs.alchemy.com/reference/summarizenftattributes

doesn't seem to exist in the typescript client SDK, and I'd really like to use it please :)

The endpoint does seem to work on the docs page when I use your awesome "Try It!" functionality, and so I implemented my front-end component based on the data I received there, but then found the endpoint missin

[2022-10-06 18:45] #122 closed

[2022-10-06 18:48] thebrianchen opened #140 "FR: add support for newly released NFT APIs"
Tracking issue for several new NFT endpoints that need to be added into the SDK:

- [X] [computeRarity](https://docs.alchemy.com/reference/computerarity): Done in #148
- [X] [searchContractMetadata](https://docs.alchemy.com/reference/searchcontractmetadata) Done in #163
- [X] [summarizeNFTAttributes](https://docs.alchemy.com/reference/summarizenftattributes) Done in #155
- [X] [getNftSales](https:

[2022-10-06 18:55] #139 closed

[2022-10-07 20:39] rbruels opened #145 "FR: Support multiple `excludeFilters` in `getNftsForOwner()`"
I'm not sure of the conditions required to detect an airdrop, but using the 2.1.1 SDK with the `NftExcludeFilters.AIRDROPS` exclude filter doesn't seem to filter out airdropped NFTs.

Using this code:

[code]

I am still seeing airdropped NFTs in the returned list.

[2022-10-08 05:09] OrDuan opened #146 "Is the API keys are considered a secret?"
Hi!

Should API keys keep in secret?
What could an attacker do if he has my API key?

Thanks

[2022-10-09 15:24] thebrianchen commented on #145
@rbruels Can you please share an example request with the owner address?

[2022-10-10 18:29] rbruels commented on #145
@thebrianchen You bet.

[code]

Airdropped NFTs include:
- Top DlArt Ticket #2
- Simple FL Official #5
- Gyaku Rebels Official #4
- Cool NFTLottery Origin #3
- APE Uniswap V3 Positions Origin #2

[2022-10-11 14:43] thebrianchen commented on #145
@rbruels The NFT API currently does not support multiple `excludeFilters` at the moment, and the endpoint will simply process the first enum you pass in. Support for multiple filters is on our backlog at the moment, but we can revisit if there's enough developer demand.

I'll leave this issue open meanwhile, and update it if anything changes!

[2022-10-11 14:45] thebrianchen commented on #146
@OrDuan Thanks for writing in! The main way we recommend users protect their API keys is by using Alchemy allowlisting functionalities. If you click on your app from the Alchemy Dashboard, you will be taken tot he App main page where you will see a button on the top right that says "Security".

By clicking that button, you will see a popup that lets you add allowlisted IPs and allowlisted domains.

[2022-10-11 14:45] #146 closed

[2022-10-11 20:10] rbruels commented on #145
@thebrianchen I notice just specifying `AIRDROPS` doesn't filter out these airdropped NFTs either.

[code]

still returns the airdropped NFTs I listed above. Thoughts?

Worth noting there are quite a few docs and interfaces that do say that multiple filters can be applied (and the type of `excludeFilters` is an array, which implies multiple entries are supported)... see:
- https://github.com/alche

[2022-10-11 20:26] thebrianchen commented on #145
I just checked with the NFT API team, and we're currently catching up on our airdrop ingestion, which is why you're seeing some false positives. It should be caught up soon though.

And yes, we'll need to update the docs to reflect that only one filter is supported. The roadmap includes supporting multiple exclude filters, which is why the SDK is typed this way to avoid a breaking change in the fu

[2022-10-12 02:16] xeno097 commented on #140
Hi, I'd like to work on some of those missing NFT endpoints. I'd start with the `computeRarity` one and then maybe implement the others. Are there any guidelines I should follow to implement the feature?

[2022-10-14 19:38] thebrianchen commented on #140
@xeno097 Thanks for offering to help! I'll work on a more holistic contributing document in the coming weeks.

For the NFT APIs:
- Add the top-level method into the `NftNamespace` and the underlying implementation in `src/internal/nft-api.ts`.
- Add unit tests in `test/unit/nft-api.test.ts`.
- Add a couple integration tests into `test/integration/nft.test.ts`.

Thanks! Just a heads up, we're worki

[2022-10-14 23:38] xeno097 commented on #140
Nice! I'll try to get something done over the weekend and keep an eye on the repo for the changes.

[2022-10-18 12:18] perpetuum7 opened #149 "getNftMetadata triggers NUMERIC_FAULT"
### [REQUIRED] Environment

- Browser version: N/A (NodeJS 16.18.0)
- Alchemy SDK version: `^2.0.0`

### [REQUIRED] Describe the problem

There seems to be an error when the library attempts to construct a BigNumer in `getNftMetadata`.

[code]

#### How to reproduce:

It happened whilst tracking sales for the ENS asset.

#### Relevant code or sample repro:

https://github.com/KodexLabs/ethereum-nf

[2022-10-18 15:32] thebrianchen commented on #149
@perpetuum7 Thanks for filing this issue! Will add a fix to return the value as an integer string if it overflows in BigNumber.

[2022-10-18 20:41] xeno097 commented on #140
@thebrianchen do you prefer that I keep working with smaller prs like the last one or a big one with everything? I'd prefer working with smaller ones because I think is tidier.

[2022-10-18 22:50] thebrianchen commented on #140
Prefer smaller PRs as well! Easier to manage and review for sure.

[2022-10-19 18:24] thebrianchen commented on #149
@perpetuum7 Can you provide the NFT address for the call that is failing? I'm having trouble finding a repro. Thanks!

[2022-10-20 08:30] xdzurman opened #156 "FR: Add effective fee (or fee data) to getAssetTransfers"
Hello.

**Is your feature request related to a problem? Please describe.**
(effective) Fee data is vital for any serious implementation of transaction history. Is there any chance it could be added to the `alchemy_getAssetTransfers` method?

Otherwise, for each transaction, `getTransactionReceipt` has to be called, which basically re-fetches already known data with the addition of fees and would m

[2022-10-21 21:26] thebrianchen commented on #109
Marking the issue as closed due to inactivity.

[2022-10-21 21:26] #109 closed

[2022-10-21 21:28] thebrianchen commented on #156
@xdzurman Since the the transaction receipt payload is quite large, it'd take a nontrivial amount of eng work to support. We'll look into making batch requests on top of the existing payload.

[2022-10-21 21:30] thebrianchen opened #159 "FR: Add support for batched requests"
Implement JsonRpcBatchProvider into the existing provider to facilitate making batch requests. This will unblock adding syntactic sugar on top of existing methods to make it easier to combine responses from different endpoints into a single one.

[2022-10-25 14:42] thebrianchen commented on #156
Updating with blocked ticket on #159.

[2022-10-26 18:00] jadbox opened #162 "getContractMetadata API vs SDK"
### [REQUIRED] Environment

- Browser version: Chrome 106
- Alchemy SDK version: 2.2.0

### [REQUIRED] Describe the problem

The getContractMetadata API returns useful openSea data that the SDK does not currently include.

[2022-10-31 18:57] Jake-Mulhern opened #166 "Cannot find variable atob"
### [REQUIRED] Environment

- Browser version: Chrome

- Alchemy SDK version: 2.2.0

### [REQUIRED] Describe the problem:
Whenever I try to import Alchemy from 'alchemy-sdk' I get the error stating that the variable 'atob' cannot be found.

#### How to reproduce:
In the terminal:
$ yarn add achemy-sdk
$ yarn

In the code:
import { Alchemy} from 'alchemy-sdk'

Etc:
Run project in expo

Receive erro

[2022-11-01 09:36] wong2 opened #167 "Add settings to control request timeout"
When using alchemy-sdk in my project, sometimes the call just stuck there for a long time, I'd like a setting for timeout seconds, so I can have better control on it with timeout & maxRetries

[2022-11-02 12:21] outdoteth opened #168 "The nft endpoint is returning a token URI error even though the token URI is valid"
The nft endpoint is returning a token URI error even though the token URI is valid:

[code]

Results in the following error:

[code]

![Screenshot 2022-11-02 at 12 20 16](https://user-images.githubusercontent.com/37438950/199488181-f84fd21a-84d0-48e6-9e61-03b4fd9e3a9b.png)

But the token URI is correct and valid so why is it giving me this error?

See correct data returned from the token URI:
http

[2022-11-02 18:40] franzrecinos commented on #168
I'm experiencing the same thing, I also sometimes get: `error: "IPFS gateway timed out"` specially right after minting an NFT and fetching right after, even though polyscan shows the transaction to be successful. I'm working on Mumbai testnet. I've also tried with axios directly to the endpoint `https://polygon-mumbai.g.alchemy.com/nft/v2/` and get the same result.

[2022-11-02 21:53] thebrianchen commented on #145
@rbruels Multiple exclude filters should now work with the `getNftsForOwner()` endpoint! Marking this issue as closed since it's fixed but feel free to ask anything other questions you may have!

[2022-11-02 21:53] #145 closed

[2022-11-02 21:54] thebrianchen commented on #162
Thanks for bringing this up @jadbox. Should have something out in the coming couple weeks.

[2022-11-02 22:01] thebrianchen commented on #166
@Jake-Mulhern Do you have a more detailed stack trace of where `atob` is required by the SDK?

I'm seeing other issues in other libraries where `atob` and `btoa` are not part of the global namespace in react-native (see SO post).

Let me know if this workaround does the trick for you:
[code]
Then in your app entry file:
[code]

[2022-11-02 22:07] thebrianchen commented on #168
@outdoteth Can you try calling `alchemy.nft.refreshContract()`on the contracts with timed out gateways or parsing errors to try and refetch the metadata again? We try to ingest contracts regularly, but sometimes the ingestion can miss a contract if the gateways uri is down.

[2022-11-02 22:09] thebrianchen commented on #167
@wong2 thanks for the feature request! Are you primarily using the NFT APIs or the core json-rpc APIs?

[2022-11-02 22:55] thebrianchen commented on #162
This is being worked on in #164.

[2022-11-02 23:10] outdoteth commented on #168
@thebrianchen That results in an error saying that only eth mainnet is supported

![Screenshot 2022-11-02 at 23 09 38](https://user-images.githubusercontent.com/37438950/199619290-b6e3ffc4-34ed-4035-87e6-0c92fb432538.png)

[2022-11-02 23:31] thebrianchen commented on #168
If you have the token id, could you try `refreshNftMetadata()`?

[2022-11-03 01:48] ProTrader69 opened #169 "Error while backfilling "newHeads" subscription"
### [REQUIRED] Environment

Alchemy SDK, Node JS

- Browser version:
- Alchemy SDK version: alchemy-sdk@2.1.1

### [REQUIRED] Describe the problem

Alchemy SDK hangs after an internal exception during websocket "blocks" subscription event. The SDK tries to convert a non BigNumber value to BigNumber and crashes at Object.fromHex (.../node_modules/alchemy-sdk/dist/cjs/index-7d6928ec.js:229:32). Afte

[2022-11-03 03:03] wong2 commented on #167
NFT APIs

[2022-11-03 03:03] wong2 commented on #167
NFT APIs

[2022-11-03 03:03] wong2 commented on #167
NFT APIs

[2022-11-03 23:26] LALauw commented on #168
Also experiencing this on trying to get all NFTs from an erc1155 contract. We use a locally run ipfs node and on the contract the uri is as follows: ipfs://[insert hash]. Sometimes I get all the tokens, sometimes a few and sometimes none. It differs per request.

[2022-11-03 23:54] Jake-Mulhern opened #172 "Unable to use getTokenBalances"
### [REQUIRED] Environment

- Alchemy SDK version: 2.2.0

### [REQUIRED] Describe the problem:
I have a react-native project where we are building a wallet.

I am attempting to get all erc20 balances in a users wallet using the following line of code:
`const balances = await alchemy.core.getTokenBalances(address, 'erc20')`

When this code runs, however, I get the following error:

`"invalid 2nd ar

[2022-11-04 16:42] Jake-Mulhern commented on #166
@thebrianchen I managed to fix this by importing both of these before importing 'alchemy-sdk'

import 'react-native-get-random-values';
import '@ethersproject/shims';

import {Alchemy} from 'alchemy-sdk';

[2022-11-04 19:03] thebrianchen commented on #172
@Jake-Mulhern thanks for filing an issue. To specify the category, you'll need to pass in the `erc20` category into the options object (please refer to the [docs](https://github.com/alchemyplatform/alchemy-sdk-js/blob/main/docs-md/classes/CoreNamespace.md#gettokenbalances)).

So to clarify, the request should be:
[code]

I'm going to close this issue since it's working as intended, but feel free t

[2022-11-04 19:03] #172 closed

[2022-11-04 19:06] thebrianchen commented on #169
@ProTrader69 Thanks for sharing the full error message. Does the error occur only during backfill, or during the standard websocket messages as well? I'll try reproducing this error sometime next week to get some more details on the underlying event and why the field is `undefined`.

[2022-11-04 19:10] ProTrader69 commented on #169
This happens during the standard websocket message listening.

[2022-11-04 19:20] Jake-Mulhern commented on #172
That seems to work.  Thank you for the response.  I do have a quick follow up question and am not sure where best to ask it so I'll post it here @thebrianchen

I have been using the goerli faucet to get eth in my test wallet however it returns an empty array.  Do I need to configure anything else to get the eth balance in my account?  When I set up the app through alchemy and got my API key I made

[2022-11-05 09:35] shenzhimeng opened #173 "Error: invalid object key - maxFeePerGas (argument="transaction:maxFeePerGas""
### [REQUIRED] Environment

- Browser version:
- Alchemy SDK version:2.2.0

### [REQUIRED] Describe the problem
https://docs.alchemy.com/docs/how-to-send-transactions-on-ethereum
<img width="556" alt="image" src="https://user-images.githubusercontent.com/7116717/200113261-a6f73c33-3609-4efe-bb19-9fee142c8437.png">

error info：
<img width="612" alt="image" src="https://user-images.githubusercontent

[2022-11-05 18:32] daviddzhang opened #174 "Axios request incorrectly sets Accept-Encoding header when browser is detected"
### [REQUIRED] Environment

- Browser version: Chrome Version 107.0.5304.87
- Alchemy SDK version: 2.2.0

### [REQUIRED] Describe the problem
When `alchemy.nft.getNftsForOwnerIterator(...)` is called, the request fails with `Refused to set unsafe header "Accept-Encoding"`.
#### How to reproduce:
Call any function that uses `sendAxiosRequest`.
#### Relevant code or sample repro:
[This commit flips

[2022-11-06 12:09] shenzhimeng opened #175 "TypeError: Cannot read properties of undefined (reading 'getWebSocketProvider')"
<img width="673" alt="image" src="https://user-images.githubusercontent.com/7116717/200169776-77b48466-d415-4a40-a804-b23c1f4d35e9.png">
error info:
<img width="603" alt="image" src="https://user-images.githubusercontent.com/7116717/200169884-065c48ff-fb3a-44f9-9b64-8ee739333508.png">

[2022-11-07 07:05] shenzhimeng commented on #173
i forgot to write the type

[2022-11-07 07:06] #173 closed

[2022-11-07 17:15] thebrianchen commented on #174
@daviddzhang Thanks for flagging this! Will have a fix for this out shortly.

[2022-11-08 07:14] altyni86 opened #176 "Wrong asset name in getAssetTransfers() method in Polygon."
Just returns ETH instead of MATIC in asset prop.

[2022-11-08 15:50] thebrianchen commented on #176
@altyni86 Thanks for catching and reporting this one! Will update this bug when it's fixed :)

[2022-11-08 16:06] thebrianchen commented on #175
@shenzhimeng Which version of the SDK are you using? `getWebSocketProvider()` wasn't exported until `v2.2.0`.

[2022-11-08 16:21] #174 closed

[2022-11-08 16:21] thebrianchen commented on #149
Marking the issue as closed, as this seems to be an issue with incorrect input to the method params.

[2022-11-08 16:22] #149 closed

[2022-11-08 17:24] thebrianchen commented on #176
Fixed on the backend. You can verify with a request on the [Alchemy Composer](https://composer.alchemy.com/?share=eJyVWM1O4zAQfpece1iWPfVWKnVBYqEClsOiVTVNhjTCsSPboVSId18nKcUZj93upYf5fvwzY2fc9yzfQCWz6fdJVqPdqOK2sZWSJps_vWevIFrMphmIfIP1blWinRmD9kGDNM_oTTbJBKxRJDkfE9bpQb2gnAmhtiBz5J0IJ_V0AaLjRKY0pqR8fqGFAiwkfA6UmE_3dMi7fbzDHKvGxmbFEH3PtdL9frYuMdqzGMcZxbzVGqVdatUog4yUEuIejyAqt1g1SnaUwvjcKWUvwWxC_QFhVP

[2022-11-08 19:58] #162 closed

[2022-11-08 22:24] #175 closed

[2022-11-09 10:15] BZhelev opened #181 "FR: getSingleOwnedNft"
**Is your feature request related to a problem? Please describe.**
There are a few instances in which fetching a single `OwnedNft` would be immensely helpful
Navigating directly to a "nft" page.
Showcasing how many Nfts you have so you know how much you can put on sale.
These are just a few instances in which this feature would be helpful.

**Describe the solution you'd like**
Either a new endpoin

[2022-11-09 20:36] thebrianchen commented on #181
@BZhelev Would the `getNtMetadataBatch` [endpoint](https://docs.alchemy.com/reference/getnftmetadatabatch) help? This way, you can call `getNftsForOwner(address, contractAddress)` to get all the owned nfts for the single contract you're interested in, and then pass the ones you'd like. Is your concern mainly the amount of Network IO you go through within a single contract?

[2022-11-10 09:27] BZhelev commented on #181
Hey there thank you for the reply. Yes my concern is the amount of requests needed to find a single NFT for a given Owner.
 Keep in mind that some details are obscured since it's a project in BETA and I cannot share that many details.

I experimented a bit and found that `getNtMetadataBatch`:
1) Does not include token balance as seen from below response, made with fetch with the following options

[2022-11-11 07:00] niveda-krish commented on #168
Hi @outdoteth the NFT you reported above has a token uri with SSL certificate problems, so we can't retrieve the metadata at the uri https://wrappedpunks.com:3000/api/punks/metadata/1
 SSL certificate problem: unable to get local issuer certificate)

[2022-11-11 07:04] niveda-krish commented on #168
@franzrecinos @LALauw the IPFS gateway time out error is expected to happen for new mints because IPFS is a decentralized file storage solution which has some initial latency by design. Should be resolve by retries and using refreshNftMetadata.

[2022-11-11 21:10] #159 closed

[2022-11-13 04:04] sds opened #191 "`getNftsForOwner` fails for some tokens with no token ID"
Hello! Not sure if this is a backend issue or an issue with this SDK, but posting here since the SDK is where we're seeing the error.

If there's a better place, happy to move this elsewhere.

### Environment

Alchemy SDK version: 2.2.1

### Describe the problem

For certain wallet addresses, the `getNftsForOwner` call fails. If this is user error, a more helpful error related to the cause of the

[2022-11-14 13:42] outdoteth commented on #168
@niveda-krish The cert seems to be fine for me. Maybe I am misreading this though.

<img width="496" alt="Screenshot 2022-11-14 at 13 41 21" src="https://user-images.githubusercontent.com/37438950/201674965-29f4cd78-95f2-41db-8354-fce01fa62d38.png">

<img width="549" alt="Screenshot 2022-11-14 at 13 42 18" src="https://user-images.githubusercontent.com/37438950/201675099-18569ae1-c9be-4829-97a3-d0

[2022-11-15 16:58] cbm-egoubely opened #192 "SDK core method call() does not support EIP-1898"
### Environment

- Browser version: N/A (Node.js 16.x)
- Alchemy SDK version: 2.2.1

### Problem description

The SDK Core endpoint `call` does not support the syntax `{"blockHash": "0x<some-hash>"}` as second parameter though the docs explicitely mention it:

cf. https://docs.alchemy.com/reference/sdk-call

#### How to reproduce:

[code]

The following error is thrown:

[code]

Note: it works if

[2022-11-15 17:07] cbm-egoubely commented on #192
There is an open issue on ethers: https://github.com/ethers-io/ethers.js/issues/2808

Do you know if there is a workaround until this get implemented? The RPC call works; I'm blocked only by the SDK validation.

[2022-11-15 19:51] thebrianchen commented on #191
@sds This is an issue with our backend's ingestion since the token id should always be defined. I'll post a follow up on this issue after checking with our team.

[2022-11-16 11:18] #191 closed

[2022-11-16 11:19] thebrianchen commented on #191
@sds Sorry for the inconvenience. I added better error messaging, and the metadata ingestion has been fixed.

[2022-11-16 11:23] thebrianchen commented on #181
@BZhelev I'll keep this feature request open, and we'll prioritize this if there's sufficient developer demand. In the meantime, you can reduce the payload size by specifying `omitMetadata: true` in the method options. This will return only the contract address, token id, and balance and you can filter from there.

[2022-11-16 11:23] thebrianchen opened #195 "FR: Support debug_ endpoints"
Support [Debug API endpoints](https://docs.alchemy.com/reference/debug-api-endpoints).

[2022-11-16 11:27] sds commented on #191
Thanks for the investigation and quick fix!

[2022-11-17 18:56] elie222 opened #197 "Breaks Jest tests"
### [REQUIRED] Environment

- Browser version: no browser
- Alchemy SDK version: 2.2.1

### [REQUIRED] Describe the problem

Alchemy SDK breaks our Jest tests:

[code]

#### How to reproduce:

Use the SDK with Jest.

#### Relevant code or sample repro:

[2022-11-22 21:37] TheDutchCoder opened #202 "getNftsForOwner discrepencies between docs, actual results, and typings"
### [REQUIRED] Environment

- Browser version: N/A (Node)
- Alchemy SDK version: 2.2.3

### [REQUIRED] Describe the problem
The docs for `getNft` (renamed `getNftsForOwner`) show that, when metadata is enabled, the response should contain an object with keys `ownedNfts` (this is correct), which is an array of objects with properties like `metadata` and `media`.

When running the examples in the do

[2022-11-25 10:31] andkom opened #203 "FR: Add support to subscribe to `newHeads` directly"
### Environment

- Browser version: Node v16.13
- Alchemy SDK version: 2.2.3

### Describe the problem

It's impossible to subscribe to `newHeads` websocket event via sdk methods. Subscription to `block` event only returns block number.

#### How to reproduce:

Method 1:

[code]

Method 2:

[code]

#### Relevant code or sample repro:

[2022-11-28 22:13] akremer opened #204 "Network Error trying to use Notify Endpoints"
### [REQUIRED] Environment

- Browser version: N/A
- Alchemy SDK version: 2.2.3

### [REQUIRED] Describe the problem

When trying to use the documented way to call `alchemy.notify.getAllWebhooks()`, you receive the following error:

`Uncaught (in promise) Error: Network Error`

No further information is provided by the SDK. This same error occurs when trying to use other notify endpoints such as `

[2022-11-29 04:02] akremer commented on #204
This ended up being an issue with the way Axios was trying to reach our outside network.

[2022-11-29 04:02] #204 closed

[2022-11-29 10:07] liuyang0623 opened #206 "Cannot find module './api/utils'"
website use sdk find an error: Cannot find module './api/utils'

[2022-11-30 08:44] adacai1982 opened #207 "WebSocketNamespace constructor error"
### [REQUIRED] Environment

- Browser version:
- Alchemy SDK version: v2.2.3

### [REQUIRED] Describe the problem
WebSocketNamespace constructor failed to save config

#### How to reproduce:
create an instance of Alchemy and then try to listen to some alchemy event
#### Relevant code or sample repro:

[2022-11-30 12:30] sds commented on #191
A heads up @thebrianchen: we're seeing this error a lot more now. Has the issue with the metadata ingestion been resolved? Here are some more addresses where the problem occurs:

[code]